<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="https://firstforma.herokuapp.com/zoho" method="post">

    <input type="text" name="email" placeholder="input email"/>
    <input type="text" name="lname" placeholder="input last name"/>
    <input type="text" name="company" placeholder="input company"/>
    <input type="text" name="city" placeholder="input city"/>

    <input type="text" style="display:none" name="type" value="first"/>

    <button type="submit">First Site Submit</button>

</form>
</body>
</html>