<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action='https://crm.zoho.eu/crm/WebToLeadForm' name=WebToLeads175018000000142273 method='POST'
      onSubmit='javascript:document.charset="UTF-8"; return checkMandatory175018000000142273()' accept-charset='UTF-8'>

    <input type='text' style='display:none;' name='xnQsjsdp'
           value='6a0445a9ff00e12d39b7c1ecac528f6b7dcbb51c61562ed7addcbc5262610201'/>
    <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
    <input type='text' style='display:none;' name='xmIwtLD'
           value='6126e43d2bbc1d63b52c26fef632b31953b291bd295bdb3468a7c17ec0f5337a'/>
    <input type='text' style='display:none;' name='actionType' value='TGVhZHM='/>

    <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;www.google.com.ua'/>

    <input type='text' name='Company' th:value="${company}"/>
    <input type='text' name='Last Name' th:value="${lname}"/>
    <input type='text' name='City' th:value="${city}"/>
    <input type='text' name='Email' th:value="${email}"/>

    <input type="text" th:value="${type}">



    <tr>
        <td colspan='2' style='text-align:center; padding-top:15px;font-size:12px;'>
            <input style='font-size:12px;color:black' type='submit' value='Submit'/>
            <input type='reset' style='font-size:12px;color:black' value='Reset'/>
        </td>
    </tr>

    <script>
        var mndFileds = new Array('Company', 'Last Name');
        var fldLangVal = new Array('Company', 'Last Name');
        var name = '';
        var email = '';

        function checkMandatory175018000000142273() {
            for (i = 0; i < mndFileds.length; i++) {
                var fieldObj = document.forms['WebToLeads175018000000142273'][mndFileds[i]];
                if (fieldObj) {
                    if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                        if (fieldObj.type == 'file') {
                            alert('Please select a file to upload.');
                            fieldObj.focus();
                            return false;
                        }
                        alert(fldLangVal[i] + ' cannot be empty.');
                        fieldObj.focus();
                        return false;
                    } else if (fieldObj.nodeName == 'SELECT') {
                        if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
                            alert(fldLangVal[i] + ' cannot be none.');
                            fieldObj.focus();
                            return false;
                        }
                    } else if (fieldObj.type == 'checkbox') {
                        if (fieldObj.checked == false) {
                            alert('Please accept  ' + fldLangVal[i]);
                            fieldObj.focus();
                            return false;
                        }
                    }
                    try {
                        if (fieldObj.name == 'Last Name') {
                            name = fieldObj.value;
                        }
                    } catch (e) {
                    }
                }
            }
        }

    </script>
</form>

</body>
</html>